/* write your override styles here */
/*div:class[*=tag]{display:none;}*/

#wall .tag-1{
  display: none;
}

#wall .parent{
  display: none;
}

#tag-2{
  display: none;
}

#tag-3 . slick-wicked {
  display: none;
}

/*.parent{
  display: none;
}

#wall div{display:none;}*/


/*#tag-2, #tag-3, #tag-4 {display: none;}*/

/*#tag-4 {display:none;}

#tag-2 {display:none;}*/


/*#tag-2{ display:none;}

#tag-4{ display:none;}*/