/* write your override styles here */


/*#wall .tag-1{
  display: none;
}

#wall .parent{
  display: none;
}

#tag-2{
  display: none;
}/*

div[*="tag"]{display:none;}


/*.parent{
  display: none;
}

#wall div{display:none;}*/


/*#tag-2, #tag-3, #tag-4 {display: none;}*/

/*#tag-4 {display:none;}

#tag-2 {display:none;}*/


/*#tag-2{ display:none;}

#tag-4{ display:none;}*/